body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    background-image: url('cover3.jpg');
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    background-attachment: fixed;
    
}

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}
p{
background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}
a{
 color: orange;
}

h2 {
    color: rgb(255, 0, 0);
}
img {
  border-radius: 8px;
  padding: 5px;
border-color: white;
  
}
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}




